<!DOCTYPE html>
<html lang="br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/IconeBiblioteca.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Shao Biblioteca</title>
</head>
<body>
    <div th:replace="~{menuA :: menuA}"></div>
    <div class="container">
        <h1> Hello,Shao!&#9994;&#127995;</h1>
         <h5> Bem-vindo a nossa Biblioteca.</h5>
        <br>
        <br>
         <h4>Lista de  Alunos</h4>
     <p style="color: rgb(77, 255, 0); font-weight: bolder;" th:if="${mensagem}" th:text="${mensagem}"></p>
    <p style="color: rgb(255, 0, 0); font-weight: bolder;" th:if="${erro}" th:text="${erro}"></p> 
    <table class="highlight">
        <thead>
            <tr>
              <th>id</th>
              <th>Nome do Aluno</th>
              <th>Matricula do Aluno</th>
              <th>CPF do Aluno</th>
              <th>Data de Nascimento</th>  
              <th>Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a: ${alunos}">
                <td th:text="${a.id}">1</td>
                <td th:text="${a.nome}">João & Maria no Pé de Feijão </td>
                <td th:text="${a.matricula}">0000000000</td>
                <td th:text="${a.cpf}">10/10/2023</td>
                <td th:text="${#temporals.format(a.dataNascimento, 'dd/MM/yyyy')}">10/10/2023</td>
                <td th:text="${a.endereco}">10/10/2023</td>

                <td>
                    <a style="color: rgb(12, 12, 12); size: 10;" th:href="@{/ShaoBiblioteca/{id}/edit(id=${a.id})}" ><i class="material-icons">edit</i></a>
                    <a style="color: rgb(253, 9, 9);" th:href="@{/ShaoBiblioteca/{id}/delete(id=${a.id})}"><i class="material-icons">close</i></a>
                    
                </td>
            </tr>
        </tbody> 
      
    </table>
   

     </div>
</body>
</html>