<!DOCTYPE html>
<html lang="br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://suap.ifrn.edu.br/static/comum/img/favicon.png?v=fb93eb95141192c586d0251d4beb9dd5" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Shao Biblioteca</title>
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>
    <div class="container">
        <h1> Hello,Shao!&#9994;&#127995;</h1>
         <h5> Bem-vindo a nossa Biblioteca.</h5>
        <br>
        <br>
         <h4>Lista de  Empréstimos</h4>
     <p style="color: rgb(0, 51, 255); font-weight: bolder;" th:if="${mensagem}" th:text="${mensagem}"></p>
    <table class="highlight">
        <thead>
            <tr>
              <th>id</th>
              <th>Nome do Livro</th>
              <th>Matricula do Aluno</th>
              <th>Data do Empréstimo</th>
              <th>Data da Devolução</th>  
              <th>Situação do Empréstimo</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e: ${emprestimos}">
                <td th:text="${e.id}">1</td>
                <td th:text="${e.tituloLivro.titulo}">João & Maria no Pé de Feijão </td>
                <td th:text="${e.matriculaAluno.matricula}">0000000000</td>
                <td th:text="${#temporals.format(e.dEmprestimo, 'dd/MM/yyyy')}">10/10/2023</td>
                <td th:text="${#temporals.format(e.dDevolucao, 'dd/MM/yyyy')}">10/10/2023</td>
                <td>
                    <span style="color: rgb(10, 86, 250);" th:if="${e.situacao == 'Empréstimo Ativo'}"><strong>Empréstimo Ativo</strong></span>
                    <span style="color: rgb(245, 9, 9);" th:if="${e.situacao == 'Empréstimo Atrasado' }"><strong>Empréstimo Atrasado</strong></span> 
                    <span style="color: rgb(10, 231, 10);" th:if="${e.situacao == 'Empréstimo Finalizado'}"><strong>Empréstimo Finalizado </strong></span> 
                </td>
                <td>
                    <a style="color: rgb(9, 253, 9);" th:href="@{/ShaoBiblioteca/{id}/finalizar(id=${e.id})}"><i class="material-icons">check</i></a>
                    <a style="color: rgb(253, 5, 5);" th:href="@{/ShaoBiblioteca/{id}/cancelar(id=${e.id})}"><i class="material-icons">close</i></a>
                </td>
            </tr>
        </tbody> 
    </table>

     </div>
</body>
</html>