<!DOCTYPE >
<html  xmlns:th="http://www.thymeleaf.org" lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/comum/img/favicon.png?v=fb93eb95141192c586d0251d4beb9dd5" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav th:fragment="menuL" class="black">
        <div class="nav-wrapper " style="padding-left: 20px;"> 
          <a href="/" class="brand-logo"><img src="/img/BibliotecaShao.jpg" style="width: 60px;"> </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 10px;">
            <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
            <li><a href="/ShaoBiblioteca/emprestimos"><i class="material-icons left">list</i>Empréstimos</a></li>
            <li><a href="/ShaoBiblioteca/alunos"><i class="material-icons left">school</i>Alunos</a></li>
            <li><a href="/ShaoBiblioteca/formL"><i class="material-icons left">library_add</i> Cria um Livro</a></li>
          </ul>
        </div>
      </nav>
      
    
    
</body>

</html>